.about-container {
  text-align: center;
  white-space: normal;
}

.about-header {
  font-size: 2vw;
  font-weight: 500;
  margin: 1vw;
}
.about-text {
  font-family: 'Raleway';
	font-size: 1.6vw;
  font-weight: 100;
  text-align: left;
  margin: 0 2.5vw;
}

.about-text > p > span {
  font-weight: 500;
  font-style: italic;
}

.about-getintouch {
  font-family: 'Raleway';
	font-size: 1.6vw;
  font-weight: 500;
  margin: 0 4vw;
}

.about-socials {
  display: flex;
  justify-content: center;
} 

.about-social {
  height: 2.3vw;
	width: 2.3vw;
	margin: 0 0.8vw;
	fill: #5cdb95;
}

.about-social:hover {
	fill:#fff;
}

.coffee-text {
  margin-top: 0.5vw;
}

.coffee {
  font-family: 'Raleway';
	font-size: 1.3vw;
  font-weight: 100;
  text-align: center;
}

