.name {
	/* display: flex;
	justify-content: center;
  text-align: left; */
	padding: 2vh 3vw;
	margin: 0;
	font-family: 'NewYork';
	font-size: 7vw;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.name span {
	color: #5cdb95;
	padding: 0;
}

.role1 {
	font-family: 'Raleway';
	font-size: 2vw;
	text-align: right;
	padding: 0 3vw;
	text-decoration: overline;
	margin-bottom: 0;
	font-weight: 100;
}
.role2 {
	font-family: 'Raleway';
	font-size: 2vw;
	text-align: right;
	padding: 0 3vw;
	margin: 0;
	font-weight: 100;
}
