.name {
	padding: 2vh 3vw;
	margin: 0;
	font-family: 'NewYork';
	font-size: 7vw;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.name span {
	color: #5cdb95;
	padding: 0;
}

.role1 {
	font-family: 'Raleway';
	font-size: 2vw;
	text-align: right;
	padding: 0 3vw;
	text-decoration: overline;
	text-decoration-thickness: 10px;
	margin-bottom: 0;
	font-weight: 100;
}
.role2 {
	/* text-decoration: overline; */
	animation-name: fadeInUp;
	font-family: 'Raleway';
	font-size: 2vw;
	text-align: right;
	padding: 0 3vw;
	margin: 0;
	font-weight: 100;
	word-wrap: break-word;
}

.greenText {
	-webkit-box-shadow:  -1vh 0 0 #5cdb95 inset;
	-moz-box-shadow:  -1vh 0 0 #5cdb95 inset;
	box-shadow: 0 -1vh 0 0 #5cdb95 inset;
	font-weight: bolder;
}

