/* .getInTouch {
	width: 100px;
	height: 100px;
	border-radius: 10vh;
	position: fixed;
	top: 70vh;
	left: 20vw;
	background-color: #5cdb95;
} */

/* .getInTouch > h2 {
	text-align: center;
	padding: 10px;
	margin: auto; 
	font-weight: bolder;
  font-size: 20px;
  word-wrap: break-word;
} */