.main {
	/* font-family: sans-serif;
  text-align: right; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	height: 600px;
	width: 300vw;
}

.main-div {
	/* display: flex;
	justify-content: center;
	flex-direction: column; */
}
.main-div {
	/* height: 600px;
	width: 90vw;
	display: flex;
	justify-content: center;
	flex-direction: column; */
}
