.projects-grid {
	display: flex;
	margin: auto 10vw auto 0;
}

.projects-grid-item {
	width: 35vh;
	height: 50vh;
	margin: 0 5px;
	/* border: solid #5cdb95 1px; */
	border-radius: 5px;
	transform: skew(-15deg);
	filter: grayscale();
	overflow: hidden;
}

.projects-grid-item > img {
	 height: 120%;
	 object-position: 0%;
	 position: absolute;
	 display: block;
	 left: -20%;
	 top: 0px;
	 transform: skew(15deg);
}

.projects-grid-item > h2 {
	transform: skew(15deg);
	position: absolute;
	 display: block;
	 margin: auto;
}

.projects-grid-item:hover {
	filter: none;
	transform: skew(-15deg);
}

.projects-grid-item > img:hover {
	transform: skew(15deg) scale(1.1);
}