.projects-grid {
	display: flex;
	margin: auto 10vw auto 0;
}

.projects-grid-item-wrapper {
	overflow: hidden;
	transform: skew(-15deg);
	border-radius: 5px;
	margin: 0 0.3rem;
}

.projects-grid-item {
	width: 30rem;
	height: 45rem;
	margin: 0;
	border-radius: 5px;
	filter: grayscale();
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.projects-grid-item > img {
	height: 120%;
	margin: 0;
	padding: 0;
	object-position: 0%;
	position: absolute;
	display: block;
	left: -20%;
	transform: skew(15deg);
	z-index: -1;
}

.projects-grid-item > h2 {
	transform: skew(15deg);
	margin-top: 15%;
	font-size: 2.9rem;
}

.projects-grid-item:hover {
	filter: none;
	transform: scale(1.1);
}

.projects-grid-item > img:hover {
	transform: skew(15deg);
}

.pgi-div {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20%;
	border-radius: 10px;
	background-color: #0c0032;
	opacity: 0.75;
	z-index: 1;
}

.project-links {
	height: 6rem;
	width: 6rem;
	margin: 1rem 1.3rem;
	fill: #5cdb95;
	transform: skew(15deg);
}

.project-links:hover {
	fill: #fff;
}

@media (max-width: 1024px) {
	.projects-grid {
		flex-direction: column;
		transform: none;
	}
	.projects-grid-item-wrapper {
		transform: none;
		width: 100vw;
		margin: 1vh 0;
		display: flex;
		justify-content: center;
	}
	.projects-grid-item {
		width: 75vw;
		height: 20rem;
		filter: none;
		border: solid 4px #1d0f4c;
		border-radius: 5rem;
		transform: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.brng {
		background: url('/src/styles/css-img/brng.jpg');
		background-position: bottom;
		background-size: cover;
	}

	.geoexplorers {
		background: url('/src/styles/css-img/geoexplorers.jpg');
		background-position: left;
		background-size: cover;
	}

	.shelv {
		background: url('/src/styles/css-img/shelv.jpg');
		background-position: left;
		background-size: cover;
	}

	.projects-grid-item:hover {
		transform: none;
	}
	.projects-grid-item > img {
		position: static;
		height: auto;
		transform: none;
	}
	.projects-grid-item > img:hover {
		transform: none;
	}
	.projects-grid-item > h2 {
		/* position: absolute;
		left: 20%; */
		margin: 0;
		transform: none;
	}
	.project-links {
		transform: none;
	}
	.pgi-div {
		/* position: absolute;
		top: 5.5rem;
		right: 20%;*/
		margin-bottom: 0;
	}
}

@media (max-width: 800px) {
	.projects-grid-item > h2 {
		left: 10%;
	}
	.pgi-div {
		right: 10%;
	}
}

@media (max-width: 650px) {
	.projects-grid-item > h2 {
		font-size: 2.4rem;
	}
	.pgi-div {
		top: 6.5rem;
	}
	.project-links {
		height: 4rem;
		width: 4rem;
	}
}

@media (max-width: 500px) {
	.projects-grid-item > h2 {
		/* left: 29%;
		top: 20%; */
		margin: auto;
	}
	.pgi-div {
		/* right: 0%; */
		right: 29%;
		top: 40%;
	}
}
