.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1% 1%;
	grid-template-areas:
		'. . '
		'. . ';
	margin: auto 10vw auto 0;
}

.projects-grid-item {
	/* border: #5cdb95 1px solid; */
	border-radius: 50px;
	width: 45vh;
	height: 45vh;
}
