.shelv-img {
	width: 100%;
}

.shelv {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	height: 100%;
	background-image: url('./css-img/shelv2.png');
	background-position: center;
	background-size: cover;
	filter: grayscale();
	color: black;
	font-family: 'Raleway';
}

.shelv:hover {
	filter: none;
	cursor: pointer;
	/* color: #4cbb7e; */
	/* font-family: 'Crimson Text'; */
	/* font-style: italic; */
	font-weight: 600;
}

.shelv > h2 {
	margin-top: 15%;
	padding: 2%;
	font-size: 30px;
	background-color: #1d0f4c;
	color: #5cdb95 ;
	border-radius: 5px;
}
