.skills-article {
	margin: auto;
	text-align: center;
	white-space: normal;
	max-height: 60rem;
}

.skills-h2 {
	font-weight: 500;
	font-size: 2.9rem;
	margin: 3.3rem 1.6rem 1.6rem 1.6rem;
}

.skills-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'row1-skill1 row1-skill2'
		'row2-skill1 row2-skill2'
		'row3-skill1 row3-skill2'
		'row4-skill1 row4-skill2';
	padding: 2rem;
}

.skills-grid > div {
	margin: auto;
}

.skills-grid > div > img {
	width: 9.5rem;
}

@media (max-width: 1024px) {
	.skills-grid > div > img {
		width: 7.5rem;
	}
}

@media (max-width: 600px) {
	.skills-grid > div > img {
		width: 7rem;
	}
}
