.skills-article {
	margin: auto;
	text-align: center;
	white-space: normal;
}

.skills-h2 {
	font-weight: 500;
	font-size: 2.9rem;
	margin: 1vw;
}

.skills-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5vw;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'row1-skill1 row1-skill2'
		'row2-skill1 row2-skill2'
		'row3-skill1 row3-skill2'
		'row4-skill1 row4-skill2';
	padding: 2vw;
}

.skills-grid > div {
	margin: auto;
}

.skills-grid > div > img {
	width: 9.5rem;
}


