.skills-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'row1-skill1 row1-skill2 row1-dummy'
		'row2-dummy row2-skill1 row2-skill2'
		'row3-skill1 row3-skill2 row3-dummy'
		'row4-dummy row4-skill1 row4-skill2';
}

.row1-skill1 {
	grid-area: row1-skill1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: solid white 2px;
}

.row1-skill2 {
	grid-area: row1-skill2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row1-dummy {
	grid-area: row1-dummy;
}

.row2-dummy {
	grid-area: row2-dummy;
}

.row2-skill1 {
	grid-area: row2-skill1;
}

.row2-skill2 {
	grid-area: row2-skill2;
}

.row3-skill1 {
	grid-area: row3-skill1;
}

.row3-skill2 {
	grid-area: row3-skill2;
}

.row3-dummy {
	grid-area: row3-dummy;
}

.row4-dummy {
	grid-area: row4-dummy;
}

.row4-skill1 {
	grid-area: row4-skill1;
}

.row4-skill2 {
	grid-area: row4-skill2;
}
